# ========================
# DATA (KHÔNG PUSH)
# ========================
data/
debug_data/

# nếu bạn có thêm
*.png
*.jpg
*.jpeg

# ========================
# OUTPUTS / TRAINING
# ========================
outputs/
checkpoints/
runs/
logs/

# ========================
# PYTHON CACHE
# ========================
__pycache__/
*.pyc
*.pyo

# ========================
# ENV / VENV
# ========================
.env
.venv/
venv/

# ========================
# OS FILES
# ========================
.DS_Store
Thumbs.db

# ========================
# IDE
# ========================
.vscode/
.idea/